.img-area
    .img-area-mask
    img(src=result.bgImage)
    .img-area-front
        span.location=result.name
        span.today=today
        .weather-desc
            span=result.weather[0].main
        ul.weather-block-info
            li
                span.temperature=Math.floor(result.main.temp)
                    span.temperature-unit celsius
.forecast